.wrapper{
    display:grid;
    grid-template-columns: auto auto;
}

.copied{
    background-color:rgb(62, 62, 62);
    color:rgb(96, 96, 96);
}

p{
    color:rgb(247, 247, 247);
}
body{
    background-color: rgb(36, 33, 33);
    color:rgb(247, 247, 247);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #382938;
  }